.AddNewTaskBarWrapper {
  display: flex;
  margin-top: -1.5rem; /* -24px */
  gap: 0.5rem; /* 8px */
}

.AddNewTaskBarWrapper input {
  width: 100%;
  height: 3.375rem; /* 54px */
  border-radius: 8px;
  border: none;
  padding: 1rem 0 1rem 1rem; /* 16px 0 16px 16px */
  
  background: var(--gray-500);
  color: var(--gray-300)
}

.AddNewTaskBarWrapper button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.625rem; /* 90px */
  height: 3.25rem; /* 52px */
  border-radius: 8px;
  border: none;
  gap: 0.5rem;/* 8px */
  padding: 1rem;/* 16px */

  background: var(--blue-500);
  color: var(--white);
  font-weight: bold;
  font-size: 0.875rem; /* 14px */

  cursor: pointer;

  transition: background-color 0.1s;
}

.AddNewTaskBarWrapper button:hover {
  background: var(--blue-700);
}